/**
* Plain CSS Stylesheet for index.html 
* @author Vincent Snow, 2024 vincentsnow@gmx.com
*/

/* Manually clear all styles, helps in browser compatibility. */
* {
	margin: 0px;
	padding: 0px;
	border: none;
	outline: 0px;
	vertical-align: baseline;
}

/* Variables for use in the style settings. These values can be changed to alter overall appearance quickly. 
Remember to use color harmonies and check the constrast accessibility rating! */
:root {
	--bg_color: #000;
	--main_text: #FBFAFE;
	--link_color: #DCB5FF;
	--visited_link: #E1DFFF;
	--border_color: #333;
	--main_font: Tahoma, Arial, sans-serif;
	--box_purple: #514869;
	--box_blue: #484E70;
	--title_color: #8F6A99;
	--subtitle_color: #B6BDCF;
	--header_color: #8CC8FF;
}

/* Settings for the HTML body and high-level elements, applies to the site's entire design. */

body, html {
	height: 100%;
  }

body {
    background-color: var(--bg_color);
	background-image: linear-gradient(#000, #1e1922);
    color: var(--main_text);
    font-family: var(--main_font);
	overflow: hidden;
}

a:link {
	color: var(--link_color);
}

a:visited {
	color: var(--visited_link);
}

.box {
	border-radius: 5px;
	opacity: 75%;
	box-shadow: 10px 10px 5px rgba(159, 192, 203, 0.514);
}

p {
	text-align: left;
}


/* Settings for the Project page (project1.html) */

.wrapper {
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: inline-flex;
}

.column {
	padding: 1%;
	height: 90%;
	margin-top: 1%;
	overflow-y: scroll;
}

h4 {
	color: var(--header_color);
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
}

.screenshot {
	width: 20%;
	height: 50%;
	display: inline-block;
}

.designdoc {
	width: 30%;
	height: 20%;
	display: inline-block;
}

.wireframe {
	width: 20%;
	height: 40%;
	display: inline-block;
}

#dbdesign {
	width: 50%;
	height: 60%;
	display: inline-block;
}

#narrative_column {
	width: 25%;
	display: inline;
	background-color: var(--box_blue);
	margin-left: 1%;
}

#project_column {
	width: 65%;
	display: inline;
	background-color: var(--box_purple);
	text-align: center;
	margin-left: 3%;
}

/* Settings for the introduction page (index.html) */

h1, h2 {
	margin-top: 10px;
	margin-left: 10px;
}

h1 {
	color: var(--title_color);
	font-size: 3em;
	letter-spacing: 1px;
	font-family: 'Trirong', Garamond, serif;
}

h2 {
	font-size: 1.5em;
	color:var(--subtitle_color);
	font-style: italic;
	margin-top: -1%;
}

h3 {
	font-size: 1.3em;
	color: var(--header_color);
	text-align: center;
}

#assessment_box {
	background-color: var(--box_blue);
	height: 70%;
	width: 80%;
	padding: 1%;
	position: absolute;
	top: 15%;
	left: 10%;
	box-shadow: 10px 10px 5px rgba(159, 192, 203, 0.514);
}

#demo_link_box {
	background-color: var(--box_purple);
	height: 10%;
	width: 25%;
	padding: 1%;
	position: absolute;
	top: 83%;
	right: 10%;
	text-align: center;
}
